*
	box-sizing: border-box
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
	-webkit-tap-highlight-color: transparent
h1, h2, h3, h4, h5, p
	margin: 0
body
	font-family: 'Raleway', sans-serif
	font-weight: 500
	margin: 0
img
	max-width: 100%
a
	text-decoration: none
	color: inherit
	cursor: pointer
	&:hover
		color: none
.container
	max-width: 1200px
	margin: auto
	padding: 0 15px
.button
	padding: 15px 30px
	font-size: 20px
	color: $light
	border: none
	background-color: $orange
	cursor: pointer
	&-order
		&:hover
			color: #fff
