.header
	padding: 30px 0
	align-items: center
	background-color: #fff
	& .logo
		width: 340px
		position: relative
		align-items: center
		&-link
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 10
			cursor: pointer
		&-image
			width: 80px
			height: 80px
			margin-right: 10px
		&__info
			max-width: 200px
		&-name
			font-size: 27px
			text-transform: uppercase
			color: $primary
		&-text
			font-size: 10px
			text-transform: uppercase
			color: $primary
	& .navbar
		margin-bottom: 10px
	& .navbar-toggler
		border: none
		&:focus
			box-shadow: none
