.service
	padding: 60px 0
	background-color: #fff
	&-title
		margin-bottom: 60px
		font-size: 50px
		font-weight: 700
		color: $primary
	&__item
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		margin-bottom: 30px
		&-bottom
			display: flex
			flex-direction: column
			margin-top: auto
	&-image
		margin-bottom: 30px
		object-fit: cover
		max-width: 150px
		height: 150px
	&-name
		margin-bottom: 30px
	&-price
		margin-bottom: 20px
		font-weight: 700
